// Default
body {
 	background-color: var(--bg-color);
 	color: var(--body-color);
 	transition: color 1s, background-color .5s;
 	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
}

a:not(.button) {
	color: var(--link-color);
 	transition: color 1s;

	&:hover {
		opacity: .8;
	}
}

h1,h2,h3,h4,h5,h6 {
	transition: color 1s;
	color: var(--title-color);
}

.bg-highlight {
	background-color: var(--bg-highlight-color);
	transition: background-color .5s;
}
